{% extends '::base.html.twig' %}

{% block body -%}
<div class="form-signin">
    <h1>Invoice creation</h1>
    <br/>
    {{ form(form) }}
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('invoice') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
