ever_fail_main_homepage:
    pattern:  /
    defaults: { _controller: EverFailMainBundle:Default:index }
ever_fail_main_homepage2:
    pattern:  /index.html
    defaults: { _controller: EverFailMainBundle:Default:index }
EverFailMainBundle_category:
        resource: "@EverFailMainBundle/Resources/config/routing/category.yml"
        prefix:   /category
EverFailMainBundle_car:
        resource: "@EverFailMainBundle/Resources/config/routing/car.yml"
        prefix:   /car
EverFailMainBundle_customer:
        resource: "@EverFailMainBundle/Resources/config/routing/customer.yml"
        prefix:   /customer
EverFailMainBundle_invoice:
        resource: "@EverFailMainBundle/Resources/config/routing/invoice.yml"
        prefix:   /invoice
EverFailMainBundle_part:
        resource: "@EverFailMainBundle/Resources/config/routing/part.yml"
        prefix:   /part
EverFailMainBundle_service:
        resource: "@EverFailMainBundle/Resources/config/routing/service.yml"
        prefix:   /service
EverFailMainBundle_vendor:
        resource: "@EverFailMainBundle/Resources/config/routing/vendor.yml"
        prefix:   /vendor











Search_Car:
        pattern:  /{CustId}/carSearch
        defaults: { _controller: "EverFailMainBundle:InitialRegistration:registerCar" }
        
Search_Customer:
        pattern:  /customerSearch
        defaults: { _controller: "EverFailMainBundle:InitialRegistration:registerCustomer" }
        
wizard_car_show:
        pattern: /{CustId}/{CarId}/carShow
        defaults: { _controller: "EverFailMainBundle:InitialRegistration:showCar" }
       
car_new:
    pattern:  /{CustId}/newCar
    defaults: { _controller: "EverFailMainBundle:Car:new" }
    
service_new:
    pattern:  /{CustId}/{CarId}/newService
    defaults: { _controller: "EverFailMainBundle:Service:new" }


Search_Category:
        pattern:  /{VenId}/categorySearch
        defaults: { _controller: "EverFailMainBundle:PartsPurchase:registerCategory" }
        
Search_Vendor:
        pattern:  /vendorSearch
        defaults: { _controller: "EverFailMainBundle:PartsPurchase:registerVendor" }
        
wizard_category_show:
        pattern: /{VenId}/{CatId}/categoryShow
        defaults: { _controller: "EverFailMainBundle:PartsPurchase:showCategory" }
       
category_new:
    pattern:  /{VenId}/newCategory
    defaults: { _controller: "EverFailMainBundle:Category:new" }
    
part_new:
    pattern:  /{VenId}/{CatId}/newPart
    defaults: { _controller: "EverFailMainBundle:Part:new" }
        

        
        
        
        
        
        
        
        
        
        
